Source: libbuddy
Priority: extra
Maintainer: Francesc Gordillo <frangor@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libusb-dev
Standards-Version: 3.8.4
Section: libs
Homepage: http://frangor.github.com/libbuddy/
#Vcs-Git: git://git.debian.org/collab-maint/libbuddy.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libbuddy.git;a=summary

Package: libbuddy1-dev
Section: libdevel
Architecture: any
Depends: libbuddy1 (= ${binary:Version}), libusb-dev
Description: C library for manage i-Buddy devices (development files).
 C library and headers for manage i-Buddy devices on Linux.

Package: libbuddy1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-0.1-4
Description: C library for manage i-Buddy devices.
 C library for manage i-Buddy devices on Linux.
